################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Team-17/FileContentIndex/4658d93e-4d4f-47f3-b7c3-d76dfd70b0e5.vsidx
/.vs/Team-17/FileContentIndex/711c6118-d8ab-4742-8875-4bc8c99bcb6a.vsidx
/.vs/Team-17/FileContentIndex/9b6cec98-bbee-4c02-aefa-767a8631a097.vsidx
/.vs/Team-17/FileContentIndex/cb2602be-a9ff-41b0-b892-95a291325985.vsidx
/.vs/Team-17/FileContentIndex/d0ee78ae-ba11-43bd-832c-1b51a86e4f50.vsidx
/.vs/Team-17/FileContentIndex/395b1633-b3db-40be-aaa0-a4102657473d.vsidx
/.vs/Team-17/FileContentIndex/4ce032a0-aef6-472d-a3ef-8277966ccd19.vsidx
/.vs/Team-17/FileContentIndex/9548c556-ae50-467c-bb39-99765862f9f5.vsidx
/.vs/Team-17/FileContentIndex/e883e62c-89e8-48b6-b6f9-3e71ff4fa66b.vsidx
/.vs/Team-17/FileContentIndex/c714fe5e-187f-4427-87a5-4a4b82992690.vsidx
/.vs/Team-17/FileContentIndex/3a60533b-36fb-4efa-995d-c1aa41e59458.vsidx
