.nav-links {
  display: flex;                /* Flexbox for links */
  align-items: center;         /* Center items vertically */
}

.nav-link {
  color: black;                /* Link color */
  font-size: 20px;            /* Adjust the font size as needed */
  margin-right: 15px;         /* Add spacing between links */
}


.navBar-line {
  width: 100%;                   /* Full width */
  height: 2px;                  /* Thickness of the line */
  background-color: lightgray;   
  margin-bottom: 5%; 
}
