/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #37c1f3;
    color: white;
  }
  
  .navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .navLinks {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navLinks li a {
    color: white;
    text-decoration: none;
  }
  
  .navLinks li a:hover {
    color: rgb(231, 231, 231);
  }

  .navLinks button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
  }
  .navLinks button.SignIn{
    background-color: rgb(216, 216, 216);
    color:black;

  }

  .navLinks button.SignOut{
    background-color: black;
    color: white;
  }

  .logo img {
    height: 70px;
    width: auto;
    margin: 5px;
  }